 <!-- header -->
 <!DOCTYPE HTML>
<html>
	<head>
	<title>Toft</title>
  <link rel="shortcut icon" href="/icon/favicon (1).ico" type="image/x-icon">

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- user links -->

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/user/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/user/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="/user/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/user/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/user/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/user/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/user/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/user/css/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="/user/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/user/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/user/css/style.css">

  <!--  -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <!-- sweet alert-->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- user link end -->


<!-- admin link end -->
	</head>
	<body>
 <div id="page">
  <nav class="colorlib-nav" role="navigation">
    <div class="top-menu">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 col-md-9">
            <div id="colorlib-logo"><a href="/">Toft</a></div>
          </div>
          <div class="col-sm-5 col-md-3">
                <form action="#" class="search-wrap">
                   <div class="form-group">
                      <input type="search" class="form-control search" placeholder="Search">
                      <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
                   </div>
                </form>
             </div>
           </div>
        <div class="row">
          <div class="col-sm-12 text-left menu-1">
            <ul>
              <% if (locals.homView) { %>
                
                <li class="active"><a href="/">Home</a></li>
                 <% } else { %>
                  
                  <li><a href="/">Home</a></li>

                <% } %>
             
              <% if (locals.aboutView) { %>
                <li class="active"><a href="/about">About</a></li>
                <% } else { %>

                  <li><a href="/about">About</a></li>
                <% } %>

                <% if (locals.contactView) { %>
                  <li class="active"><a href="/contact">Contact</a></li>
                  <% } else { %>
  
                    <li><a href="/contact">Contact</a></li>
                  <% } %>
                  <% if (locals.cartView) { %>
                    <li class="active"><a href="/cart"><i class="icon-shopping-cart"></i> Cart</a></li>

                    <% } else { %>
                    <li ><a href="/cart"><i class="icon-shopping-cart"></i> Cart</a></li>
                    <% } %>

             <% if (!user) { %>
              <li class=" cart ml-6 font-weight-bold ">
                
                <!--   -->
                <div class="btn-group font-weight-bold ">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                  </button>
                  <div class="dropdown-menu" >
                    <a class="dropdown-item text-secondary" href="/login">Sign In</a>
                   
                  </div>
                </div>

                 <!--  -->
              
              </li>
                 <% } else { %>
 
              <li class=" cart ml-6 font-weight-bold has-dropdown">

                <!--  -->

                <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= user.name %> 
                  </button>
                  <div class="dropdown-menu " >
                    <a class="dropdown-item text-secondary" href="/profile">Profile</a>
                    <a class="dropdown-item text-secondary" href="/myOrder">My Orders</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-secondary" href="/logoutUser">Sign Out</a>
                  </div>
                </div>
                <!--  -->
           
              </li>
              <% } %> 
              
             
              
            </ul>
            
          </div>
        </div>
      </div>
    </div>
    <div class="sale">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 offset-sm-2 text-center">
            <div class="row">
              <div class="owl-carousel2">
                <div class="item">
                  <div class="col">
                    <h3><a href="#">This website belongs to world's best footwear brand Toft</a></h3>
                  </div>
                </div>
                <div class="item">
                  <div class="col">
                    <h3><a href="#">Our biggest feature is quality and beauty</a></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>