<%- include('../includes/userHeader.ejs') %>
<div class="mb-5 d-flex justify-content-center align-items-center flex-column">
  <img src="/main_images/emptyCart.png" alt="" style="height: 350px" />
  <h5 class="pb-3 text-center">
    Your cart is empty <br />Please add few products
  </h5>
  <a class="mb-5 btn btn-primary" href="/">Back To Home</a>
</div>
<%- include('../includes/userFooter.ejs') %>
