
<!DOCTYPE HTML>
<html>
	<head>
	<title>Toft</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- user links -->

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">
<!-- user link end -->


<!-- admin link start -->
<link
href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
rel="stylesheet"
/>
<link rel="stylesheet" href="./assets/css/tailwind.output.css" />

<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
/>

<!-- admin link end -->
	</head>
	<body>
		
        <div id="page">
            <nav class="colorlib-nav" role="navigation">
              <div class="top-menu">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-7 col-md-9">
                      <div id="colorlib-logo"><a href="/">Toft</a></div>
                    </div>
                   
                     </div>
                  <div class="row">
                    
                  </div>
                </div>
              </div>
              <div class="sale">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-8 offset-sm-2 text-center">
                      <div class="row">
                        <div class="owl-carousel2">
                          <div class="item">
                            <div class="col">
                              <h3><a href="#">Loggin into Toft</a></h3>
                            </div>
                          </div>
                          <div class="item">
                            <div class="col">
                              <h3><a href="#">join with our family</a></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          <div class="container">
              
          <div class="row justify-content-center">
                              <div class="col-md-8">
                                  
                                  <div class="card mt-5">
                                      <!-- <div class="card-header text-center"><h2>Login</h2></div> -->
                                      <div class="card-body">
          
                                          <form class="form-horizontal" method="post" action="/loginUser">
          
                                          
                                              <div class="form-group">
                                                  <label for="email" class="cols-sm-2 control-label font-weight-bold">Your Email</label>
                                                  <div class="cols-sm-10">
                                                      <div class="input-group">
                                                          <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                          <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" />
                                                      </div>
                                                  </div>
                                              </div>
                                              
                                              <div class="form-group">
                                                  <label for="password" class="cols-sm-2 control-label font-weight-bold">Password</label>
                                                  <div class="cols-sm-10">
                                                      <div class="input-group">
                                                          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                          <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
                                                      </div>
                                                  </div>
                                              </div>
                                              <% if(emailErr.length>0){ %> 
                                                <div class=" alert alert-danger" role="alert">
                                                  <p class="text-danger"><%=emailErr %> </p>
                                                </div>
                                          
                                                 <% } else if (passErr.length>0) { %>
                                                  <div class=" alert alert-danger" role="alert">
                                                    <p class="text-danger"><%=passErr %> </p>
                                                  </div>

                                                  <% } else if (fillErr.length>0) { %>
                                                    <div class=" alert alert-danger" role="alert">
                                                      <p class="text-danger"><%=fillErr %> </p>
                                                    </div>
                                                    <% } else if (blocked.length>0) { %>
                                                      <div class=" alert alert-danger" role="alert">
                                                        <p class="text-danger"><%=blocked %> </p>
                                                      </div>
                                                <% } %>
                                              <div class="form-group ">
                                                  <button type="submit" class=" btn-primary btn-lg btn-block login-button bg-info ">Sign In</button>
                                              </div>
                                              <div class="login-register">
                                                 <p>Create New Account? <a class="text-primary font-weight-bold" href="/register">Sign Up</a></p>
                                              </div>
                                          </form>
                                      </div>
          
                                  </div>
                              </div>
                          </div>
          </div>
          
          
          

        

	<!-- user link start -->
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
   <!-- popper -->
   <script src="js/popper.min.js"></script>
   <!-- bootstrap 4.1 -->
   <script src="js/bootstrap.min.js"></script>
   <!-- jQuery easing -->
   <script src="js/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
	<!-- user link end -->

<!-- admin link start -->
<script
src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
defer
></script>
<script src="./assets/js/init-alpine.js"></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
defer
></script>
<script src="./assets/js/charts-lines.js" defer></script>
<script src="./assets/js/charts-pie.js" defer></script>
<!-- admin link end -->


	</body>
</html>


 <!-- header -->
 