<%- include('../includes/userHeader.ejs') %>

<!--================Profile Account =================-->
<section class="login_part padding_top">
  <div class="container">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hello, !</h1>
        <p>
          This is a template for a simple marketing or informational website. It includes a large callout called a
          jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
        </p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">Continue Shopping &raquo;</a></p>
      </div>
       <div class="container">
  

   
      <div class="row row-cols-1 row-cols-md-3 mb-3  mt-4">
   
        
        <div class="row">
          <div class="col-md-6">
            <div class="contact-wrap">
              <h3>Your Details</h3>
              <form action="#" class="contact-form">
                <div class="row">
                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label for="fname">First Name</label>
                      <input type="text" id="fname" class="form-control" placeholder="Your firstname">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="lname">Last Name</label>
                      <input type="text" id="lname" class="form-control" placeholder="Your lastname">
                    </div>
                  </div> -->
                  <div class="w-100"></div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="email">Name</label>
                      <input value="" type="text" name="fname" id="fname" class="form-control" >
                    </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="subject">Email</label>
                      <input value=""   name="email" id="email" class="form-control" >
                    </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="subject">Number</label>
                      <input  value="" type="number" id="number" class="form-control" >
                    </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="message">Adress</label>
                      <textarea name="address" id="address" cols="30" rows="10" class="form-control" >
                       

                      </textarea>
                    </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <!-- <input type="submit" value="Send Message" class="btn btn-primary"> -->
                      <a href="">
                      <button class="addtocart  btn btn-primary btn-addtocart" >
                        Edit
                       </button>
                      </a>
                      
                    </div>
                  </div>
                </div>
              </form>	
              <a href="/address">
                <button class="addtocart  btn btn-primary btn-addtocart" >
                Add Address
                </button>
               </a>	
            </div>
          </div>
      </div>
    
  
        
               
        
       
        
        
      </div>
   
      




    
  </div>
 
</section>

<%- include('../includes/userFooter.ejs') %>